body {
  Background-color: #d7fbe8;
}

hr {
  border-style: dotted none none;
  border-color: #1fab89;
  border-width: 10px;
  height: 0px;
  width: 5%;
}

h3 {
  color: #1fab89;
}

h1 {
  color: #1fab89;
}

.mm {
  border-radius: 300px;
}
